<p>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <span>
            <mat-icon (click)="toggleMenu()">menu</mat-icon>
            &nbsp;
            <span *ngIf="userRole !== 'user'">Claims Application</span>
            <span *ngIf="userRole == 'user'">My Claims Application</span>
        </span>
        <span>
          <span *ngIf="userRole !== 'user'">Hello, Admin!</span>
          <span *ngIf="userRole == 'user'">Hello, {{userName}}!</span>
        <span><button mat-button (click)="onLogOut()"><mat-icon>logout</mat-icon></button></span>
        </span>

    </mat-toolbar>
</p>