
    <mat-card>
        <mat-card-header>
            <mat-card-title>Forgot Your Password?</mat-card-title>
            <mat-card-subtitle>Enter you registered email below to
                 receive password reset instruction</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img src="../../../../assets/images/resetPassword.png" class="responsive">
                </div>
                <div class="col">
                    <h1>Email</h1>
                    <mat-form-field appearance="outline"requird>
                        <input matInput >
                        <!-- <mat-icon class="float-end">close</mat-icon> -->
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button class="rounded btn-lg" 
                            style="background-color: rgb(23, 23, 50); color: white; margin-left: 40px;">Send 
                            &nbsp; &nbsp; &nbsp; &nbsp; 
                            <mat-icon>send</mat-icon>
                        </button> <br>
                        <button mat-button color="basic" style="margin-left: 40px;" 
                        class="mt-2" routerLink="/login">Back to Login</button>
                    </mat-card-actions>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
   

